@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hangerd.Utility
@using Root.Application.DataObjects

@model MorphemeDto

<div class="clearfix">
	<h4>
		<a href="@Url.Action("Detail", "Morpheme", new { Model.Id })" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-left"></span></a>
		&nbsp;&nbsp;
		<strong>@Model.Standard</strong>
	</h4>

	<hr />

	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">类　型:</label>
			<div class="col-md-4">
				<p class="form-control-static">@CommonTools.GetEnumDescription(Model.Type)</p>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">变　体:</label>
			<div class="col-md-4">
				@Html.TextBoxFor(x => x.Variant, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">描　述:</label>
			<div class="col-md-4">
				@Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-1 col-md-4">
				<button id="btnSubmit" type="button" class="btn btn-sm btn-primary">保 存</button>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		$("#btnSubmit").bind("click", function () {
			if (!$("#Description").val()) {
				alert("词素描述不可为空");
				return;
			}

			$.ajax({
				type: "POST",
				dataType: "json",
				url: "@Url.Action("Modify", "Morpheme")",
				data: {
					id: "@Model.Id",
					morphemeDto: {
						Variant: $("#Variant").val(),
						Description: $("#Description").val()
					}
				},
				success: function (result) {
					alert(result.Message);
				}
			});
		});
	</script>
}