@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hangerd.Utility
@using Root.Application.DataObjects

@model MorphemeDto

<div class="clearfix">
	<h4>
		<button type="button" class="btn btn-sm btn-default" onclick="window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<button id="btnSave" type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span></button>
		&nbsp;&nbsp;
		<strong>@Model.Standard</strong> [@CommonTools.GetEnumDescription(Model.Type)]
	</h4>

	<hr />

	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">变　体:</label>
			<div class="col-md-4">
				@Html.TextBoxFor(x => x.Variant, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">描　述:</label>
			<div class="col-md-4">
				@Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		$("#btnSave").bind("click", function () {
			if (!$("#Description").val()) {
				alert("词素描述不可为空");
				return;
			}

			$.ajax({
				type: "POST",
				dataType: "json",
				url: "@Url.Action("Save", "Morpheme")",
				data: {
					id: "@Model.Id",
					morphemeDto: {
						Variant: $("#Variant").val(),
						Description: $("#Description").val()
					}
				},
				success: function (result) {
					alert(result.Message);

					if (result.Success)
						window.location.href = "@Url.Action("Detail", "Morpheme", new { id = Model.Id })";
				}
			});
		});
	</script>
}