@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Root.Application.DataObjects

@model string

<div class="clearfix">
	<h4>
		<button type="button" class="btn btn-sm btn-default" onclick="window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<button id="btnSave" type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span></button>
		&nbsp;&nbsp;
		<strong>添加词素</strong>
	</h4>

	<hr />

	<form id="addMorphemeForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">本　体:</label>
			<div class="col-md-4">
				@Html.TextBox("Standard", Model, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">类　型:</label>
			<div class="col-md-4">
				<select name="Type" class="form-control">
					@PageHelper.CreateOptionsForEnum(typeof(MorphemeTypeDto))
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">变　体:</label>
			<div class="col-md-4">
				@Html.TextBox("Variant", string.Empty, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">描　述:</label>
			<div class="col-md-4">
				@Html.TextBox("Description", string.Empty, new { @class = "form-control" })
			</div>
		</div>
	</form>
</div>

@section scripts {
	<script type="text/javascript">
	$("#btnSave").bind("click", function () {
		if (!$.trim($("#Standard").val())) {
			alert("词素本体不可为空");
			return;
		}

		if (!$("#Description").val()) {
			alert("词素描述不可为空");
			return;
		}

		$.ajax({
			type: "POST",
			dataType: "json",
			url: "@Url.Action("Add", "Morpheme")",
			data: $("#addMorphemeForm").serialize(),
			success: function (result) {
				alert(result.Message);

				if (result.Morpheme) {
					window.location.href = "@Url.Action("Detail", "Morpheme")/" + result.Morpheme.Id;
				}
			}
		});
	});
	</script>
}