@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hangerd.Utility;
@using Root.Application.DataObjects

@model WordDto

<div class="clearfix">
	<h4>
		<button type="button" class="btn btn-sm btn-default" onclick="window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<a class="btn btn-sm btn-success" href="@Url.Action("Edit", "Word", new { word = Model.Stem })"><span class="glyphicon glyphicon-edit"></span></a>
		&nbsp;&nbsp;
		<strong>@Model.Stem</strong> [ @Model.Phonetic ]
	</h4>

	<hr />
	
	<div class="panel panel-default">
		<div class="panel-heading">词　素:</div>
		<ul class="list-group">
			@foreach (var item in Model.Morphemes.OrderBy(m => m.Order))
			{
				<li class="list-group-item">
					<a href="@Url.Action("Detail", "Morpheme", new { id = item.Morpheme.Id })">
						<strong>@item.Morpheme.Standard</strong> @item.Morpheme.ToVariant() [ @item.Morpheme.Description ]
					</a>

					@if (item.Morpheme.Type == MorphemeTypeDto.Root)
					{
						<span class="glyphicon glyphicon-flag"></span>

						<button type="button" class="btn btn-xs btn-default pull-right" onclick="loadRelatedWordList('@item.Morpheme.Id')">
							<span class="glyphicon glyphicon-menu-right"></span>
						</button>
					}
				</li>
			}
		</ul>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">释　义:</div>
		<ul class="list-group">
			@foreach (var interpretation in Model.Interpretations.OrderBy(i => i.Order))
			{
				<li class="list-group-item">
					@CommonTools.GetEnumDescription(interpretation.PartOfSpeech) @interpretation.Interpretation
				</li>
			}
		</ul>

	</div>
</div>

<div class="modal fade" id="relatedWordListModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">相关词汇</h4>
			</div>
			<div class="modal-body">
				<div id="relatedWordList"></div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/javascript">
		function loadRelatedWordList (morphemeId) {
			var relatedWordList = $("#relatedWordList").empty();

			relatedWordList.append("<div class=\"well well-sm\">加载中..</div>");

			$("#relatedWordListModal").modal("show");

			$.ajax({
				type: "POST",
				dataType: "json",
				url: "@Url.Action("GetRelatedWordList", "Morpheme")",
				data: {
					morphemeId: morphemeId,
					excludedWordId: "@Model.Id"
				},
				success: function (data) {
					relatedWordList = $("#relatedWordList").empty();

					if (!data || data.length === 0) {
						relatedWordList.append("<div class=\"well well-sm\">暂无相关词汇</div>");
					} else {
						for (var i = 0; i < data.length; i++) {
							var interpretation = "";

							for (var j = 0; j < data[i].Interpretations.length; j++) {
								interpretation += "<p>" + data[i].Interpretations[j].PartOfSpeech + " " + data[i].Interpretations[j].Interpretation + "</p>";
							}

							var item = "<div class=\"well well-sm\">" +
								"	<p>" +
								"		<strong>" + data[i].Stem + "</strong>" +
								"		<a href=\"@Url.Action("Detail", "Word")?word=" + data[i].Id + "\">[详细]</a>" +
								"	</p>" + interpretation +
								"</div>";

							relatedWordList.append(item);
						}
					}
				}
			});
		}
	</script>
}