@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Root.Application.DataObjects

@model string

<div class="clearfix">
	<h4>
		<button type="button" class="btn btn-sm btn-default" onclick="window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<button id="btnSave" type="button" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span></button>
		&nbsp;&nbsp;
		<strong>添加单词</strong>
	</h4>

	<hr />

	<form id="addWordForm" class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1 control-label">词　干:</label>
			<div class="col-md-4">
				@Html.TextBox("stem", Model, new { @class = "form-control" })
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">释　义:</label>
			<div class="col-md-4">
				<div class="input-group">
					<select name="PartOfSpeech" class="form-control">
						@PageHelper.CreateOptionsForEnum(typeof(PartOfSpeechDto))
					</select>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-pencil"></span>
					</span>
					@Html.TextBox("Interpretation", string.Empty, new { @class = "form-control" })
				</div>
			</div>
		</div>
	</form>
</div>

@section scripts {
	<script type="text/javascript">
		$("#btnSave").bind("click", function () {
			if (!$.trim($("#stem").val())) {
				alert("词干不可为空");
				return;
			}

			if (!$("#Interpretation").val()) {
				alert("释义内容不可为空");
				return;
			}

			$.ajax({
				type: "POST",
				dataType: "json",
				url: "@Url.Action("Add", "Word")",
				data: $("#addWordForm").serialize(),
				success: function (result) {
					alert(result.Message);

					if (result.Word != null) {
						window.location.href = "@Url.Action("Modify", "Word")/" + result.Word.Stem;
					}
				}
			});
		});
	</script>
}