@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Hangerd.Utility
@using Root.Application.DataObjects

@model IEnumerable<WordDto>

<div class="clearfix">
	<h4><strong>@ViewBag.QueryWord</strong> 的查询结果</h4>

	<hr />
	
	@foreach (var word in Model)
	{
		<div class="well well-lg">
			<p>
				<strong>@word.Stem</strong>
				<a href="@Url.Action("Detail", "Word", new { word.Id })" target="_blank">[详细]</a>
			</p>

			@foreach (var interpretation in word.Interpretations.OrderBy(i => i.Order))
			{
				<p>@CommonTools.GetEnumDescription(interpretation.PartOfSpeech) @interpretation.Interpretation</p>
			}
		</div>
	}
</div>

@section scripts {
	<script type="text/javascript">

	</script>
}